/* MEDIA QUERRIES */
@media only screen and (max-width: 400px) {
	h1 {
		font-size: var(--h1-size-sv-normal);
	}

	h1.small {
		font-size: var(--h1-size-sv-small);
	}

	h1 > mark.small {
		font-size: var(--h1-size-sv-small);
	}
}

@media only screen and (max-width : 450px) {
	#header-left > h2 {
		display : none
	}
}

@media only screen and (max-width : 600px) {
	#header-content, #menu, .content, #footer {
		width  : calc(100vw - 32px);
		margin : 0 16px 0 16px;
	}
}

@media only screen and (min-width : 600px) {
	#header-content, #menu, .content, #footer {
		width  : calc(100vw - 64px);
		margin : 0 32px 0 32px;
	}
}

/* just for content (maybe redundant) */
@media only screen and (min-width : 700px) {

}

@media only screen and (min-width : 905px) {
	#header-content, #menu, .content, #footer {
		width  : 840px;
		margin : 0 auto 0 auto;
	}

	#menu-buttons {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 16px;
	}

	#menu-buttons > * {
		display: flex;
		align-content: center;
		justify-content: center;
		height: 48px;
	}

	#menu-buttons > * > h2 {
		height: fit-content;
		font-size: 20px;
		width: fit-content;
		margin: auto;
	}
}

@media only screen and (min-width : 1070px) {
	#products {
		flex-flow: row;
		justify-content: center;
		column-gap: 16px;
	}
}

@media only screen and (min-width : 1240px) {
	#header-content, #menu, .content, #footer {
		width  : calc(100vw - 400px);
		margin : 0 200px 0 200px;
	}

	h1 {
		font-size: var(--h1-size-wv-normal);
	}

	h1.small {
		font-size: var(--h1-size-wv-small);
	}

	h1 > mark.small {
		font-size: var(--h1-size-wv-small);
	}
}

@media only screen and (min-width : 1440px) {
	#header-content, #menu, .content, #footer {
		width  : 1040px;
		margin : 0 auto 0 auto;
	}
}